<div class="card">
  <div class="card-header">
    <h5>Search Images (Docker Hub)</h5>
  </div>
  <input type="text" class="form-control search-images" (keyup)="searchImage()" [(ngModel)]="pullImageName" placeholder="Search...">
  <button class="btn btn-dark clear-btn" (click)="clear()">Clear</button>
  <div *ngIf="pullImageName">
    <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
            <tr scope="row" *ngFor="let image of searchedImages">
                <td>{{image.name}}</td>
                <td>{{image.description}}</td>
                <td><button class="btn btn-success" (click)="pullImageFromHub()">Pull</button></td>
            </tr>
        </tbody>
    </table>
  </div>
  <div *ngIf="!pullImageName" class="loading-spin">
    <img src="../../../assets/images/loading-spinner.svg" alt="Loading...">
  </div>
</div>
