h5
  text-align: center
  color: gray


.clear-btn
  margin-top: 2%
  display: inline-block

.search-images
  margin-top: 1%

.loading-spin
  display: flex
  flex: 1
  justify-content: center
  align-self: center
  align-items: center
  text-align: center
  margin: 20px

.card
  margin-top: 2%
  position: sticky
  background-color: #fff
  border: 1px solid #e4e4e4
  border-radius: 10px
  box-shadow: 5px 5px 5px rgba(114, 114, 114, 0.1)
  color: #333
  padding: 40px
.card:hover
  box-shadow: 5px 5px 5px #e4e4e4
  transform: scale(1.001,1.001)
  transition: 0.8s

.btn
  color:white
  margin-bottom: 5px
  text-decoration:none
  padding:5px 10px
  border: none
  font-size:1em

