<!--! Toolbar -->
<div class="toolbar" role="banner">
  <span class="title">Observer D</span>
  <div class="spacer-2"></div>
  <div class="btn-group btn-group-toggle items" ngbRadioGroup name="radioBasic">
    <label ngbButtonLabel class="btn-info">
      <input ngbButton type="radio" [value]="1" (click)="imagePageRedirect()"> Images
    </label>
  </div>
  <div class="spacer"></div>
</div>


<div class="content" role="main" *ngIf="imageViewer">
  <image-comp></image-comp>
</div>

<router-outlet></router-outlet>
